<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="product-box">
            <figure class="snip1205 green">
                <img src="assets/img/product.png"  class="img-fluid" alt="sample43"/>
                <i class="fa fa-search"></i>
                <!-- <a href="#"></a> -->
            </figure>
            <div class="text-center">
                <div class="h5 m-0 pt-3 pb-2 text-dark"><a href="">Vitamin B</a></div>
                <div class="h6 m-0 text-color">192, 000 sum</div>
                <div class="h6  ">
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star text-warning"></i></button>
                    <button ><i class="fa fa-star-o"></i></button>
                    <button ><i class="fa fa-star-o"></i></button> 
                </div> 
            </div>
        </div>
    </div>
</div>
