<section class="wrapper all-news" style=" ">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-lg-8 mb-3  "> 
                <div class="featured-posts-grid__item featured-posts-grid__itema no-gutters row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <h2 class="entry__title px-3" style="font-size: 32px; line-height: 1.2;">
                               What Days and Hours are PH Online Shoppers Most Likely to Buy? 
                              </h2>
                              <ul class="entry__meta px-3">
                                <li class="entry__meta-author">
                                  <span>by</span>
                                  <a routerLink="/news-about" class="px-2">DeoThemes</a>
                                </li>
                                <li class="entry__meta-date">
                                  Mar 21, 2020
                                </li>              
                              </ul>
                              <img src="assets/img/news3.jpg" class="img-fluid p-3" alt="">
                                <p class="px-3">iPrice Group report offers insights on daily e-commerce activity in the 
                                    Philippines and Southeast. Statistically, you stand a better chance for success if you
                                     have some sort of strategic ask in almost
                                   everything that you do -- in-person, on the phone, over email, 
                                   or on social media. In order to attract what you want, you actually have 
                                   to consciously and strategically think about what you want and focus in on it.
                                    Then, you need to take some sort of action using the same four strategies you 
                                    use to ask for help in order to make it happen. You can't get what you want sitting 
                                    around on your couch. You need to put yourself out there and stimulate interest in person,
                                    via email, by phone and through social media.</p>
                                    <h4 class="p-3 text-center"> " Set a bigger goals and chase them everyday "</h4>
                                <p class="px-3">  Plus, your eyes won’t be so prone to checking the time. 
                                    Check out these and more reasons to bring your music to work in this Zing Instruments 
                                    infographic below.Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                     per inceptos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. And finally the 
                                     subconscious is the mechanism through which thought impulses which are repeated regularly
                                      with feeling and emotion are quickened, charged. And finally the subconscious is the mechanism
                                       through which thought impulses which are repeated regularly with feeling and emotion.
                                     A great piece of music is an instant mood lifter. 
                                    Plenty of scientific evidence backs this up - we`re happier bunnies when listening to music.</p>
                        </div> 
                    </div>  
 
                  </div>
            </div>
            <div class="col-lg-4 mb-3">
                <div class="row">
 
                    <div class="col-lg-12  ">
                        <div class="featured-posts">

                            <div class=" featured-posts-news no-gutters row  ">
                                <div class="col-lg-12">
                                    <h4 class="pt-3 pl-4">POPULAR POSTS</h4>
                                </div>
                                <div class="col-lg-3">
                                    <div class="card-body">
                                        <img src="assets/img/news4.jfif"   alt=""> 
                                    </div> 
                                 </div>
                                <div class="col-lg-9 ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a routerLink="/news-about"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                          </h2>
                                          <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                              <span>by</span>
                                              <a routerLink="/news-about" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                              Mar 21, 2020
                                            </li>              
                                          </ul>
                                    </div>
                                </div> 
                            </div> 
                            <div class=" featured-posts-news no-gutters row  ">
                                <div class="col-lg-3">
                                    <div class="card-body">
                                        <img src="assets/img/news4.jfif"   alt=""> 
                                    </div> 
                                 </div>
                                <div class="col-lg-9 ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a routerLink="/news-about"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                          </h2>
                                          <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                              <span>by</span>
                                              <a routerLink="/news-about" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                              Mar 21, 2020
                                            </li>              
                                          </ul>
                                    </div>
                                </div> 
                            </div> 
                            <div class=" featured-posts-news no-gutters row ">
                                <div class="col-lg-3">
                                    <div class="card-body">
                                        <img src="assets/img/news4.jfif"   alt=""> 
                                    </div> 
                                 </div>
                                <div class="col-lg-9 ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a routerLink="/news-about"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                          </h2>
                                          <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                              <span>by</span>
                                              <a routerLink="/news-about" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                              Mar 21, 2020
                                            </li>              
                                          </ul>
                                    </div>
                                </div> 
                            </div> 
                            <div class=" featured-posts-news no-gutters row  ">
                                <div class="col-lg-3">
                                    <div class="card-body">
                                        <img src="assets/img/news4.jfif"   alt=""> 
                                    </div> 
                                 </div>
                                <div class="col-lg-9">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a routerLink="/news-about"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                          </h2>
                                          <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                              <span>by</span>
                                              <a routerLink="/news-about" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                              Mar 21, 2020
                                            </li>              
                                          </ul>
                                    </div>
                                </div> 
                            </div> 
                            <div class=" featured-posts-news no-gutters row ">
                                <div class="col-lg-3">
                                    <div class="card-body">
                                        <img src="assets/img/news4.jfif"   alt=""> 
                                    </div> 
                                 </div>
                                <div class="col-lg-9 ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a routerLink="/news-about"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                          </h2>
                                          <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                              <span>by</span>
                                              <a routerLink="/news-about" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                              Mar 21, 2020
                                            </li>              
                                          </ul>
                                    </div>
                                </div> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
