 <div class="user">
    <div id="menu-overlay"></div>
    <div id="menu-toggle" class="closed d-block" style="float: right;" data-title="Menu">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
    </div>
    <header id="main-header">
      <nav id="sidenav">
     
        <ul id="main-nav">
          <li class="active">
            <a href="#">
              <i class="fa fa-tasks"></i>
              Asosiy
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-users"></i>
              Komanda
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-user"></i>
              Transfer
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-cog"></i>
              Sozlamalar
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-life-ring"></i>
              Statistika
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-life-ring"></i>
              Ma'lumotlar
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-life-ring"></i>
              Eslatmalar
            </a>
          </li> 
        </ul>
      </nav> 
    </header>
    <section id="content" style="background-color:#FAFDFF ; min-height: 100vh;width: 100%;overflow: hidden;"> 
      <router-outlet></router-outlet>
  
    </section>
    
 
    <footer></footer> 
 </div>

 