/* .sm-img {
  height: 30px !important;
  width: 30px !important;
} 
.rad-page-title {
  margin-bottom: 20px;
  text-shadow: 1px 4px 6px #c6c6c6, 0 0 0 #000, 1px 4px 6px #c6c6c6;
}
.rad-page-title span {
  font-size: 22px;
  font-weight: 500;
  display: block;
}
.rad-navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
  background: white;
  z-index: 10000;
  text-align: center;
}
.rad-navigation ul {
  margin-bottom: 0;
}
.rad-logo-hidden {
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 22px;
  text-decoration: none;
  color: #222533;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.links {
  margin-right: 10px;
  position: relative;
}
.links > li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
}
.rad-dropmenu-item.active {
  display: block;
  -webkit-animation: flipInX 1s ease;
}
.lg-text {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.sm-text {
  font-size: 11px;
  color: #c6c6c6;
}
.md-text {
  font-size: 12px;
  color: #c6c6c6;
}
.rad-notification-item {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #EEEEEE;
}
.rad-notification-item:hover {
  background: #F5F5F5;
}
.rad-notification-item .rad-notification-content {
  color: #404040;
} 
.rad-notification-body {
  color: black;
  vertical-align: middle;
  margin-left: 30px;
} 
.rad-logo-container {
  width: 225px;
  text-align: center;
  height: 50px;
  float: left;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
} 
.rad-top-nav-container {
  float: right;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
} 
.rad-toggle-btn,
.rad-logo {
  text-decoration: none;
  position: relative;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  text-decoration: none;
  color: #222533;
  display: inline-block;
} 
.rad-logo i {
  padding-top: 2px;
  vertical-align: middle;
  margin-right: 10px;
} 
.rad-toggle-btn:hover {
  background: #f9f9f9;
} 
.rad-menu-item {
  position: relative;
  padding: 0 5px;
  line-height: 30px;
  height: 30px;
  color: #89949B;
  z-index: 5;
  display: inline-block;
} 
.rad-badge {
  height: 20px;
  color: white;
  border-radius: 10px;
  line-height: 20px;
  font-size: 12px;
  background: #E94B3B;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
} 
.rad-menu-badge {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  line-height: 20px;
  font-weight: bold;
  color: white;
  border-radius: 100%;
  font-size: 12px;
  background: #E94B3B;
  box-shadow: 0.5px 0.2px 1px rgba(0, 0, 0, 0.5);
  display: inline-block;
  text-align: center;
  top: -10px;
  z-index: 1;
} 
.sm-menu {
  min-width: 150px !important;
}
.sm-menu > li {
  padding: 10px;
  text-align: left;
}
.sm-menu > li i {
  margin: 0 10px 0 0;
}
.sm-menu > li > a {
  padding: 10px;
} 
.rad-dropmenu-item {
  position: absolute;
  right: -6px;
  top: 45px;
  min-width: 250px;
  background: white;
  border: 1px solid #BDBDBD;
  border-top: 5px solid #515d6e;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}
.rad-dropmenu-item:before {
  content: "";
  position: absolute;
  border-width: 0 10px 10px 10px;
  border-style: solid;
  border-color: #515d6e transparent;
  top: -14px;
  right: 8px;
}

.rad-dropmenu-item.rad-settings {
  right: 0 !important;
  left: auto !important;
}
.rad-dropmenu-item.rad-settings:before {
  right: 5px !important;
  left: auto !important;
}
.rad-dropmenu-item.rad-settings > .rad-notification-item:hover {
  background: #fff !important;
}
.rad-dropmenu-item.rad-settings > .rad-notification-item i {
  font-size: 24px;
}
.rad-dropmenu-footer,
.rad-dropmenu-header {
  display: block !important;
  background: #CFD8DC;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 !important;
  padding: 6px;
  text-align: center;
}
.rad-dropmenu-footer > a,
.rad-dropmenu-header > a {
  color: white;
  line-height: 12px;
  text-decoration: none;
}

.rad-dropmenu-header {
  border-bottom: 1px solid #CFD8DC;
}

.rad-dropmenu-footer {
  border-top: 1px solid #CFD8DC;
}

.rad-chk-pin {
  margin: 0 !important;
}
.rad-chk-pin span {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 40px;
  border-radius: 4px;
  background: crimson;
  border: 1px solid #f6f6f6;
}
.rad-chk-pin span:after {
  content: "";
  position: absolute;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  top: -1px;
  left: 0px;
  box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
.rad-chk-pin input {
  display: none;
}
.rad-chk-pin input:checked + span {
  background: #23AE89;
}
.rad-chk-pin input:checked + span:after {
  left: 19px;
}
.hide {
  display: none;
}
.rad-option-selected {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 -2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.rad-color-swatch {
  display: table;
  width: 90px;
  height: 25px;
  border-radius: 4px;
}
.rad-color-swatch .colors {
  width: 25px;
  height: 25px;
  display: table-cell;
  cursor: pointer;
}
.rad-color-swatch .colors input[type="radio"] {
  display: none;
}
.rad-color-swatch .colors:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.rad-color-swatch .colors:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.rad-sidebar {
  z-index: 9999;
  position: fixed;
  font-weight: 600;
  width: 225px;
  height: 100vh;
  overflow: hidden;
  top: 50px;
  left: 0;
  bottom: 0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: rgb(167,32,181);
  background: linear-gradient(180deg, rgba(167,32,181,1) 21%, rgba(37,75,240,1) 100%);
}
.rad-sidebar li:hover {
  background: #103C6E;
}
 .li-active{
  background: #103C6E;
 }
.rad-txt-primary {
  color: #1C7EBB;
}

.rad-bg-primary {
  background: #1C7EBB;
}
.rad-txt-success {
  color: #23AE89;
}
.rad-bg-success {
  background: #23AE89;
}
.rad-txt-danger {
  color: #E94B3B;
}
.rad-bg-danger {
  background: #E94B3B;
}
.rad-txt-warning {
  color: #F98E33;
}
.rad-bg-warning {
  background: #F98E33;
}
.rad-txt-violet {
  color: #6A55C2;
}
.rad-bg-violet {
  background: #6A55C2;
}
.rad-logo-container.rad-nav-min {
  -webkit-transform: translate3d(-180px, 0, 0);
          transform: translate3d(-180px, 0, 0);
}
.rad-logo-container.rad-nav-min .rad-logo {
  opacity: 0;
}
.rad-logo-container.rad-nav-min + .rad-logo-hidden {
  opacity: 1;
  visibility: visible;
}
.rad-sidebar.rad-nav-min {
  width: 0px !important;
}
.rad-sidebar.rad-nav-min .rad-sidebar-item {
  opacity: 0;
  visibility: hidden;
  transition: all .1s linear;
  -webkit-transform: translate3d(-200px, 0, 0);
          transform: translate(-200px);
}
.rad-body-wrapper {
  position: absolute;
  left: 230px;
  top: 75px;
  width: auto;
  right: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.rad-body-wrapper.rad-nav-min {
  left: 0px;
}
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
  }
  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
    -webkit-transform: perspective(400px);
  }
}
@media screen and (max-width: 450px) {
  .rad-info-box i {
    opacity: .3;
  }
}
@media screen and (min-width: 850px) {
  .rad-logo-container {
    height: 75px;
  }
  .rad-logo-container .rad-logo {
    line-height: 75px;
  }
  .rad-logo-container .rad-toggle-btn {
    line-height: 75px;
    height: auto;
  }
  .rad-top-nav-container {
    padding: 10px;
  }
  .rad-sidebar {
    top: 75px;
  }
.rad-sidebar li{
  font-size: 16px ;
  padding: 10px ;
}
.rad-sidebar li a{
  color: #fff;
}
  .rad-body-wrapper {
    top: 100px;
  }
}
@media screen and (max-width: 850px) {
 
  .rad-navigation {
    height: 100px;
  }
  .rad-logo-container.rad-nav-min {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    background: transparent;
  }
  .rad-logo-container.rad-nav-min .rad-logo {
    opacity: 1;
  }
  .rad-logo-container.rad-nav-min + .rad-logo-hidden {
    display: none;
  }
  .rad-logo-container {
    display: block;
    float: none;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
  }
  .rad-top-nav-container {
    display: block;
    float: none;
    height: 50px;
    background: white;
  }
  .rad-top-nav-container .links > li > a {
    font-size: 12px;
  }
  .rad-menu-badge {
    font-size: 10px;
    min-width: 15px;
    min-height: 15px;
    line-height: 15px;
  }
  .rad-sidebar {
    top: 100px;
  }
  .rad-sidebar.rad-nav-min {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }
  .rad-body-wrapper {
    top: 125px;
    position: relative;
  }
  .rad-body-wrapper.rad-nav-min {
    left: 0px;
  }
} 
 
 
.rad-info-box {
  margin-bottom: 16px;
  box-shadow: 1px 1px 2px 0 #CCCCCC;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background: white !important;
}

.rad-info-box i {
  display: block;
  background-clip: padding-box;
  margin-right: 15px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  line-height: 60px;
  text-align: center;
  font-size: 4.4em;
  position: absolute;
}

.rad-info-box .value,
.rad-info-box .heading {
  display: block;
  position: relative;
  color: #515d6e;
  text-align: right;
  z-index: 10;
}
.rad-info-box .heading {
  font-size: 1.2em;
  font-weight: 300;
  text-transform: uppercase;
}
.rad-info-box .value {
  font-size: 2.1em;
  font-weight: 600;
  margin-top: 5px;
} 
.rad-list-img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
}  
.brand-icon {
  font-size: 22px;
  height: 50px;
  display: inline-block;
  float: left ;
  width: 50px;
  background-color: crimson;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 700;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  margin-left: -230px;
  display: none;
} 
  */



   
.bg-flat-color-1 {
  background: #20a8d8; }
 
.bg-flat-color-3 {
  background: #ffc107; }

.bg-flat-color-4 {
  background: #f86c6b; }

.bg-flat-color-5 {
  background: #4dbd74; }

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

body {
  background: #f1f2f7;
  display: table;
  font-family: 'Open Sans' sans-serif !important;
  font-size: 16px;
  width: 100%; }

div[class*="col-"] {
  float: left; }

 
.no-padding {
  padding: 0 !important; }

/* Global Styles */
/* Main Styles */
.basix-container {
  display: table;
  min-height: 100vh;
  position: relative;
  width: 100%; }

aside.left-panel {
  background: #272c33;
  display: table-cell;
  height: 100vh;
  min-height: 100%;
  padding: 0 25px;
  vertical-align: top;
  width: 280px;
  -webkit-transition:width 0.3s ease;
  transition: width 0.3s ease; }

.navbar {
  background: #272c33;
  border-radius: 0;
  border: none;
  display: block;
  margin: 0 0 100px;
  padding: 0; }
  .navbar .navbar-header {
    float: none;
    text-align: center;
    width: 100%; }
  .navbar .navbar-brand {
    border-bottom: 1px solid #4e4e52;
    color: #f1f2f7 !important;
    font-family: 'Open Sans';
    font-size: 22px;
    float: none;
    line-height: 50px;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
    display: block;
    min-height: 69px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .navbar .navbar-brand span {
      font-weight: 600; }
    .navbar .navbar-brand img {
      max-width: 160px; }
    .navbar .navbar-brand.hidden {
      display: none; }
  .navbar .menu-title {
    border-bottom: 1px solid #4e4e52;
    color: #9496a1;
    clear: both;
    display: block;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 700;
    line-height: 50px;
    padding: 15px 0 0;
    text-transform: uppercase;
    width: 100%; }
  .navbar .navbar-nav {
    float: none;
    position: relative; }
    .navbar .navbar-nav li {
      width: 100%; }
      .navbar .navbar-nav li.active .menu-icon,
      .navbar .navbar-nav li:hover .toggle_nav_button:before,
      .navbar .navbar-nav li .toggle_nav_button.nav-open:before {
        color: #fff !important; }
      .navbar .navbar-nav li .dropdown-toggle:after {
        display: none; }
      .navbar .navbar-nav li > a {
        background: none !important;
        color: #c8c9ce !important;
        display: inline-block;
        font-family: 'Open Sans';
        font-size: 14px;
        line-height: 30px;
        padding: 10px 0;
        position: relative;
        width: 100%; }
        .navbar .navbar-nav li > a:hover,
        .navbar .navbar-nav li > a:hover .menu-icon {
          color: #fff !important; }
        .navbar .navbar-nav li > a .menu-icon {
          color: #8b939b;
          float: left;
          margin-top: 8px;
          width: 55px;
          text-align: left;
          z-index: 9; }
        .navbar .navbar-nav li > a .menu-title-text {
          font-size: 14px; }
        .navbar .navbar-nav li > a .badge {
          border-radius: 0;
          font-family: 'Open Sans';
          font-weight: 600;
          float: right;
          margin: 6px 0 0;
          padding: 0.4em 0.5em; }
      .navbar .navbar-nav li.menu-item-has-children {
        position: relative; }
        .navbar .navbar-nav li.menu-item-has-children a {
          line-height: 30px; }
          .navbar .navbar-nav li.menu-item-has-children a:before {
            content: "\f105";
            color: #c8c9ce;
            font-family: 'Fontawesome';
            font-size: 16px;
            position: absolute;
            top: 10px;
            right: 0;
            text-align: right;
            -webkit-transition: all 0.25s ease;
            transition: all 0.25s ease; }
          .navbar .navbar-nav li.menu-item-has-children a:hover:before {
            color: #fff; }
        .navbar .navbar-nav li.menu-item-has-children .sub-menu {
          background: #272c33;
          border: none;
          box-shadow: none;
          overflow-y: hidden;
          padding: 0 0 0 35px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu li {
            position: relative; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu i {
            color: #c8c9ce;
            float: left;
            padding: 0;
            position: absolute;
            left: 0;
            font-size: 14px;
            top: 9px; }
          .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
            padding: 2px 0 2px 30px; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a:before {
              content: '';
              display: none; }
            .navbar .navbar-nav li.menu-item-has-children .sub-menu a .menu-icon {
              top: 13px;
              text-align: left;
              width: 25px; }
        .navbar .navbar-nav li.menu-item-has-children.show a:before {
          content: "\f107"; }
        .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
          max-height: 1000px;
          opacity: 1;
          -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
          position: static !important; }

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .active > a:hover {
  color: #d7d9e3 !important; }

.navbar-nav li span.count {
  background: #a9d86e;
  border-radius: 50%;
  color: #fff;
  font-family: 'Open Sans';
  font-size: 9px;
  font-weight: 700;
  float: right;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 15px;
  text-align: center; }

body.open .navbar .navbar-brand.hidden {
  display: block; }

.open aside.left-panel {
  max-width: 70px;
  width: 70px; }
  .open aside.left-panel .navbar .navbar-brand {
    display: none; }
    .open aside.left-panel .navbar .navbar-brand.hidden {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
      .open aside.left-panel .navbar .navbar-brand.hidden img {
        max-width: 30px;
        margin: 0 auto; }
    .open aside.left-panel .navbar .navbar-brand.d-md-none {
      display: block !important;
      margin: 13px 0 0;
      min-height: 67px;
      padding: 0;
      text-align: center; }
  .open aside.left-panel .navbar .navbar-nav:before {
    display: none !important; }
  .open aside.left-panel .navbar .navbar-nav li {
    position: relative; }
    .open aside.left-panel .navbar .navbar-nav li a {
      font-size: 0;
      z-index: 0;
      -webkit-transition:none;
      transition: none; }
      .open aside.left-panel .navbar .navbar-nav li a .menu-icon {
        font-size: 20px;
        z-index: -1;
        width: inherit; }
      .open aside.left-panel .navbar .navbar-nav li a .menu-title-text {
        font-size: 0; }
      .open aside.left-panel .navbar .navbar-nav li a .badge {
        display: none; }
    .open aside.left-panel .navbar .navbar-nav li > a {
      max-width: 60px;
      padding-left: 0; }
    .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children {
      overflow: hidden; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
        content: '';
        display: none; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children ul {
        padding-left: 0; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
        display: block;
        left: inherit;
        right: -180px;
        top: 0; }
        .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a {
          display: block;
          font-size: 14px;
          max-width: inherit;
          padding: 2px 15px 2px 25px;
          width: 100%; }
          .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu li a .menu-icon {
            text-align: center; }
      .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show {
        overflow: visible; }
        .open aside.left-panel .navbar .navbar-nav li.menu-item-has-children.show .sub-menu {
          position: absolute !important; }
    .open aside.left-panel .navbar .navbar-nav li span.count {
      display: none;
      margin-right: 5px;
      z-index: 1; }
    .open aside.left-panel .navbar .navbar-nav li.active a:after {
      content: '';
      display: none; }
  .open aside.left-panel .navbar .navbar-nav .menu-title {
    font-size: 0;
    line-height: 0;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    padding: 0; }

/* Right panel */
.right-panel {
  display: table-cell;
  padding-left: 0 !important;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease; }
  .right-panel .breadcrumbs {
    background-color: #fff;
    display: inline-block;
    margin-top: 0;
    padding: 0 5px;
    width: 100%; }
    .right-panel .breadcrumbs .col-lg-8 .page-header {
      float: left; }
  .right-panel .page-header {
    min-height: 50px;
    margin: 0;
    padding: 0 15px;
    background: #ffffff;
    border-bottom: 0; }
    .right-panel .page-header h1 {
      font-size: 18px;
      padding: 15px 0; }
    .right-panel .page-header .breadcrumb {
      margin: 0;
      padding: 13.5px 0;
      background: #fff;
      text-transform: capitalize; }
    .right-panel .page-header .breadcrumb > li + li:before {
      padding: 0 5px;
      color: #ccc;
      content: "/\00a0"; }

.right-panel header.header {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  clear: both;
  display: inline-block;
  padding: 15px 20px 13px;
  width: 100%; }

.open .right-panel {
  margin-left: -210px; }

header.fixed-top {
  background: #fff;
  padding: 20px; }

.header-menu .col-sm-7 {
  position: inherit; }

.menutoggle {
  background: #e74c3c;
  border-radius: 50%;
  color: #fff !important;
  cursor: pointer;
  font-size: 18px;
  height: 43px;
  line-height: 44px;
  margin: -2px 20px 0 -57px;
  text-align: center;
  width: 43px; }

.open .menutoggle i:before {
  content: "\f0a4"; }

.search-trigger {
  background: transparent;
  border: none;
  color: #272c33;
  cursor: pointer;
  font-size: 16px;
  height: 41px;
  width: 43px;
  line-height: 38px; }

header .form-inline {
  background: #263238;
  display: none;
  height: 70px;
  margin: 0;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9999; }
  header .form-inline .search-form {
    height: 100%;
    max-width: 1025px;
    margin: 0 auto;
    position: relative; }
    header .form-inline .search-form input[type="text"] {
      background: #263238;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: #d3d3d3;
      font-size: 16px;
      height: inherit;
      margin-right: 0 !important;
      padding: 10px 36px 10px 15px;
      width: 100%; }
    header .form-inline .search-form input[type="text"].active,
    header .form-inline .search-form input[type="text"]:focus {
      border-color: rgba(0, 0, 0, 0.125);
      outline: 0; }
    header .form-inline .search-form button {
      background: transparent;
      border: none;
      color: #fff;
      font-size: 16px;
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -14px !important; }
    header .form-inline .search-form .btn-outline-success:hover,
    header .form-inline .search-form button:active,
    header .form-inline .search-form button:focus,
    header .form-inline .search-form button:visited {
      background: transparent;
      border: none !important;
      box-shadow: none;
      outline: 0 !important; }
    header .form-inline .search-form.close {
      display: none; }

.header-left.open .form-inline {
  display: block; }

.header-left .dropdown {
  display: inline-block; }
  .header-left .dropdown .dropdown-toggle {
    background: transparent;
    border: none;
    color: #272c33;
    font-size: 16px; }
    .header-left .dropdown .dropdown-toggle:after {
      display: none; }
    .header-left .dropdown .dropdown-toggle .count {
      border-radius: 50%;
      color: #fff;
      font-size: 11px;
      height: 15px;
      width: 15px;
      line-height: 15px;
      right: 0;
      top: 0;
      position: absolute; }
    .header-left .dropdown .dropdown-toggle:active, .header-left .dropdown .dropdown-toggle:focus, .header-left .dropdown .dropdown-toggle:visited {
      background: none !important;
      border-color: transparent !important;
      color: #272c33 !important; }
  .header-left .dropdown .dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: none;
    top: 49px !important; }
    .header-left .dropdown .dropdown-menu p {
      font-size: 15px;
      margin: 0;
      padding: 5px 15px; }
    .header-left .dropdown .dropdown-menu .dropdown-item {
      color: #272c33;
      font-size: 13px;
      padding: 10px 15px 3px;
      text-overflow: ellipsis; }
      .header-left .dropdown .dropdown-menu .dropdown-item .photo {
        float: left;
        margin-right: 15px;
        width: 25px; }
      .header-left .dropdown .dropdown-menu .dropdown-item .message .name {
        margin-top: -5px; }
      .header-left .dropdown .dropdown-menu .dropdown-item .message .time {
        font-size: 11px; }
      .header-left .dropdown .dropdown-menu .dropdown-item .message p {
        clear: both;
        font-size: 14px;
        margin: 0;
        padding: 0;
        text-overflow: ellipsis; }
      .header-left .dropdown .dropdown-menu .dropdown-item:hover {
        background: transparent; }

.dropdown-menu {
  border-radius: 0;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important; }

.for-notification .dropdown-menu .dropdown-item {
  padding: 5px 15px !important;
  text-overflow: ellipsis; }
  .for-notification .dropdown-menu .dropdown-item i {
    float: left;
    font-size: 14px;
    margin: 5px 5px 0 0;
    text-align: left;
    width: 20px; }
  .for-notification .dropdown-menu .dropdown-item p {
    padding: 0 !important;
    text-overflow: ellipsis; }

.user-area {
  float: right;
  padding-right: 0;
  position: relative; }
  .user-area .user-menu {
    background: #fff;
    border: none;
    font-family: 'Open Sans';
    left: inherit !important;
    right: 0;
    top: 55px !important;
    margin: 0;
    max-width: 150px;
    padding: 5px 10px;
    position: absolute;
    width: 100%;
    z-index: 999;
    min-width: 150px; }
    .user-area .user-menu .nav-link {
      color: #272c33;
      display: block;
      font-size: 14px;
      line-height: 22px;
      padding: 5px 0; }
  .user-area .user-avatar {
    float: right;
    margin-top: 4px;
    width: 32px; }
  .user-area .user-info .name {
    color: #8c8c8c;
    font-size: 14px;
    position: relative;
    text-transform: uppercase; }
  .user-area .count {
    background: #d9534f;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center; }
  .user-area .dropdown-toggle:after {
    display: none; }

#menuToggle2 {
  padding-left: 25px; }

#language-select {
  color: #f1f2f7;
  float: right;
  margin: 7px 20px 0 0;
  max-width: 80px; }
  #language-select:focus, #language-select:visited {
    border: none;
    outline: 0; }
  #language-select .dropdown-toggle:after {
    display: none; }
  #language-select .dropdown-menu {
    background: #fff;
    border: none;
    border-radius: 0;
    left: -8px !important;
    min-width: inherit;
    padding: 0 5px;
    top: 46px !important; }
    #language-select .dropdown-menu .dropdown-item {
      margin-right: 0;
      max-width: 25px;
      padding: 0; }
      #language-select .dropdown-menu .dropdown-item:hover {
        background: #fff; }
      #language-select .dropdown-menu .dropdown-item .flag-icon {
        margin-right: 0;
        width: 25px; }

.language-show + .dropdown-menu,
.message-show + .dropdown-menu,
.notification-show + .dropdown-menu {
  display: block; }

.content {
  float: left;
  padding: 0 20px;
  width: 100%; }

.card {
  margin-bottom:24px;
  margin-bottom: 1.5rem;
  border-radius: 0; }
  .card h4 {
    font-size:17.6px;
    font-size: 1.1rem; }
  .card .user-header .media img {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%; }
  .card .card-header .card-actions button {
    display: block;
    float: left;
    width: 50px;
    padding:12px 0;
    padding: 0.75rem 0;
    margin: 0 !important ;
    color: #fff;
    outline: 0;
    text-align: center;
    background: transparent;
    border: 0;
    border-left: 1px solid rgba(120, 130, 140, 0.4); }
  .card .card-footer {
    padding:10.4px 20px;
    padding: 0.65rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c2cfd6; }
    .card .card-footer ul li {
      display: table-cell;
      padding:0 16px;
      padding: 0 1rem;
      text-align: center; }

.breadcrumbs {
  margin-top: 0; }

/* Tabs */
.nav-tabs a.active {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent; }

.nav-tabs .dropdown .dropdown-menu {
  top: 100% !important; }

.custom-tab .nav-tabs > .active > a:focus,
.custom-tab .nav-tabs > a.active,
.custom-tab .nav-tabs > li.active > a:hover {
  border-color: transparent transparent;
  color: #ff2e44;
  position: relative; }

.custom-tab .nav-tabs > a.active > a:after,
.custom-tab .nav-tabs > li.active > a:focus:after,
.custom-tab .nav-tabs > li.active > a:hover:after {
  background: #ff2e44;
  bottom: -1px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 999; }

.card .card-header .card-actions {
  float: right; }
  .card .card-header .card-actions [class*="btn"] {
    border-left: 1px solid rgba(120, 130, 140, 0.4);
    color: #878787;
    display: inline-block;
    font-size: 16px;
    float: left;
    padding: 0 7px;
    width: inherit;
    text-align: center; }

.social-buttons .card-body p button {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0; }

.social-buttons .only-icon .card-body p button {
  padding: 0; }

.social-buttons .social i {
  padding: 0 10px;
  width: inherit !important; }

.social-buttons .only-text p button {
  padding:0 8px;
  padding: 0 0.5rem; }

.buttons button {
  margin: 2px 0; }
 
 

@media (max-width: 1368px) {
  .content {
    padding: 0 15px; }
  .twt-category {
    margin-bottom: 0; }
  .twt-feed {
    max-height: 155px; }
    .twt-feed img {
      height: 75px;
      width: 75px; }
  .stat-widget-one .stat-content {
    margin-left: 15px; }
  .card-body {
    padding: 15px; }
  .badges button {
    margin: 2px 0; } }

@media (max-width: 1024px) {
  aside.left-panel {
    padding: 0 20px;
    width: 200px; }
  .navbar .navbar-nav li > a .menu-icon {
    width: 30px; }
  .navbar .navbar-nav li.menu-item-has-children .sub-menu {
    padding: 0 0 0 30px; }
  .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
    padding: 2px 0 2px 25px; }
  .card .card-header {
    position: relative; }
    .card .card-header strong {
      display: block; }
    .card .card-header small {
      float: left; }
    .card .card-header .card-actions {
      right: 0;
      top: 0.75rem;
      position: absolute; } }

@media (max-width: 992px) {
  [class*="col"].no-padding {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none; } }

@media (max-width: 575.99px) {
  body {
    display: block; }
  aside.left-panel {
    display: block;
    height: auto;
    min-height: inherit;
    padding: 0 15px;
    width: 100%; }
    aside.left-panel .navbar {
      margin-bottom: 0; }
      aside.left-panel .navbar .navbar-header {
        height: 50px; }
      aside.left-panel .navbar .navbar-brand {
        border-bottom: none;
        display: inline-block;
        float: left;
        line-height: 1;
        margin-top: 11px;
        min-height: inherit; }
        aside.left-panel .navbar .navbar-brand.hidden {
          display: none; }
      aside.left-panel .navbar .navbar-toggler {
        float: right;
        margin-top: 8px; }
      aside.left-panel .navbar .navbar-nav li > a {
        padding: 5px 0; }
      aside.left-panel .navbar .navbar-nav li.menu-item-has-children a:before {
        top: 5px; }
      aside.left-panel .navbar .menu-title {
        line-height: 30px;
        padding: 0; }
  .menutoggle {
    display: none; }
  .right-panel {
    display: block; }
    .right-panel header.header {
      padding: 5px 10px 1px 5px; }
      .right-panel header.header div[class*="col"] {
        padding: 0;
        width: initial; }
      .right-panel header.header .col-sm-7 {
        float: left; }
      .right-panel header.header .col-sm-5 {
        float: right; }
    .right-panel .breadcrumbs {
      padding: 10px 15px; }
      .right-panel .breadcrumbs div[class*="col"] {
        padding: 0; }
      .right-panel .breadcrumbs .page-header {
        min-height: inherit;
        padding: 0; }
        .right-panel .breadcrumbs .page-header h1 {
          padding: 5px 0; }
        .right-panel .breadcrumbs .page-header.float-right {
          float: left;
          text-align: left;
          width: 100%; }
          .right-panel .breadcrumbs .page-header.float-right .breadcrumb {
            padding: 0; }
    .right-panel .content {
      padding: 0 10px; }
      .right-panel .content .card .card-title {
        margin-bottom: 0; }
      .right-panel .content .card .card-footer {
        padding: 15px 5px; }
        .right-panel .content .card .card-footer ul {
          margin: 0; }
          .right-panel .content .card .card-footer ul li {
            float: left;
            margin: 5px 0;
            padding: 0 10px;
            width: 33.33%; }
      .right-panel .content div[class*="col"] {
        padding: 0; }
      .right-panel .content .row div[class*="col"] {
        padding: 0 10px; }
      .right-panel .content .nav-pills .nav-link,
      .right-panel .content .nav-tabs .nav-link {
        padding: 0.5rem; }
      .right-panel .content .tab-content.pl-3 {
        padding-left: 0 !important; }
      .right-panel .content #bootstrap-data-table_wrapper {
        font-size: 14px;
        padding: 0; }
        .right-panel .content #bootstrap-data-table_wrapper div[class*="col"] {
          padding: 0; }
        .right-panel .content #bootstrap-data-table_wrapper .table td,
        .right-panel .content #bootstrap-data-table_wrapper .table th {
          padding: 5px; } }