<div id="products"> 
    <div id="products-wrapper">
        <div id="products-container">
        <img src="assets/img/product-about.jpg" alt=""/>
        <img src="assets/img/product-about.jpg" alt=""/>
        <img src="assets/img/product-about.jpg" alt=""/>
        <img src="assets/img/product-about.jpg" alt=""/>
        </div>
    </div> 
    <div id="thumb-nav">
        <a href="#" data-rel="0"><img src="assets/img/product-about.jpg" alt=""/></a>
        <a href="#" data-rel="1"><img src="assets/img/product-about.jpg" alt=""/></a>
        <a href="#" data-rel="2"><img src="assets/img/product-about.jpg" alt=""/></a>
        <a href="#" data-rel="3"><img src="assets/img/product-about.jpg" alt=""/></a>
    </div>
</div>