<footer>
    <svg viewBox="0 0 120 28">
     <defs> 
       <mask id="xxx">
         <circle cx="7" cy="12" r="40" fill="#fff" />
       </mask>
       
       <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="2" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="
               1 0 0 0 0  
               0 1 0 0 0  
               0 0 1 0 0  
               0 0 0 13 -9" result="goo" />
          <feBlend in="SourceGraphic" in2="goo" />
          </filter>
         <path id="wave" d="M 0,10 C 30,10 30,15 60,15 90,15 90,10 120,10 150,10 150,15 180,15 210,15 210,10 240,10 v 28 h -240 z" />
      </defs> 
    
       <use id="wave3" class="wave" xlink:href="#wave" x="0" y="-2" ></use> 
       <use id="wave2" class="wave" xlink:href="#wave" x="0" y="0" ></use>
     
      <g class="topball">
      <circle class="ball" cx="110" cy="8" r="4" stroke="none" stroke-width="0" fill="#36a1d2" />
    
        <g class="arrow">
        <polyline class="" points="108,8 110,6 112,8" fill="none"  />
        <polyline class="" points="110,6 110,10.5" fill="none"  />
        </g>
        
      </g>
      <g class="gooeff">
      <circle class="drop drop1" cx="20" cy="2" r="1.8"  />
      <circle class="drop drop2" cx="25" cy="2.5" r="1.5"  />
      <circle class="drop drop3" cx="16" cy="2.8" r="1.2"  />
        <use id="wave1" class="wave" xlink:href="#wave" x="0" y="1" /> 
      </g>
    </svg>
      <div  class="container-fluid px-lg-5"  > 
            <div class="row  ">
               <div class="col-lg-3 text-left">
                    <h4 class="text-white pb-2">Progresskey.uz</h4>
                    <p>122 Collins Street West Victoria
                        8008 New York</p>
                        <p>
                            <a href="#" class="text-white"> <span class="fa fa-phone text-white pr-2"></span> +998 (71) 200 00 00</a>
                        </p>
                        <p>
                            <a href="#" class="text-white"> <span class="fa fa-envelope text-white pr-2"></span> info@progresskey.uz</a>
                        </p>
                        <p>
                            <a href="#" class="text-white"> <span class="fa fa-fax text-white pr-2"></span> info@progresskey.uz</a> 
                        </p>    
                </div>
               <div class="col-lg-3 text-left">
                <h4 class="text-white pb-2">Ish kunlari</h4>
                <p  class="text-white">Dushanba - Shanba</p>
                <p  class="text-white">08:30 - 20:00</p>
                </div>
                <div class="col-lg-3 text-left">
                    <h4 class="text-white pb-2"> Menu</h4>
                    <p  class="text-white">Mahsulotlar</p>
                    <p  class="text-white">Hududiy do'konlar</p>
                    <p  class="text-white">Yangiliklar</p>
                    <p  class="text-white">Galleriya</p>
                    <p  class="text-white">Ma'lumotlar</p> 
                </div>
                <div class="col-lg-3 text-left pb-2">
                    <h4 class="text-white"> A'zo bo'lish</h4>
                    <p  class="text-white">Lorem ipsum, dolor sit amet consectetur a
                        dipisicing elit. Totam ex at, facilis saepe ducimus porro.</p> 
                    <a href="#" class="text-white"> <span class="fa fa-telegram text-white p-2"></span>  </a> 
                    <a href="#" class="text-white"> <span class="fa fa-instagram text-white p-2"></span> </a> 
                    <a href="#" class="text-white"> <span class="fa fa-youtube text-white p-2"></span>  </a> 
                    <a href="#" class="text-white"> <span class="fa fa-facebook text-white p-2"></span> </a> 
                    <a href="#" class="text-white"> <span class="fa fa-twitter text-white p-2"></span> </a>   
                </div>
                
                <div class="col-12">
                    <hr class="bg-white">
                    <p class="text-white text-center pb-3"> Sayt ishlab chiquvchi Softplus © ... Barcha huquqlar himoyalangan.</p>
                </div>
        </div>
    </div>
</footer>
