<!-- <div class="header-slider"> 
     
</div> -->
<!-- <div class="" style="height: 400px;"></div> -->
<div style="position: relative;height: 95vh;width: 100%;overflow: hidden;">
 	
    <div class="demo">
        <div class="gradient">
            <section class="slider-section" style="width: 100%;overflow: hidden;">
                <div class="owl-section owl-active owl-carousel" id="header-slider">
                    <div class="item single-slide">
                        <div class="container ">
                            <div class="row">
                                <div class="col-lg-7  text-lg-left">
                                    <h2 class="text-white">Kalsiy va Magniy   birikmasi</h2>
                                    <p>Maxsulotlarimizni harid qilib liderga aylaning
                                        va o'z daromadingizni oshirib bo'ring! </p>
                                    <a href="" class="boxed-btn">Batafsil</a>
                                </div>
                                <div class="col-5 slider-img">
                                    <img src="assets/img/gano1.png" data-wow-duration="2s" data-wow-iteration="100" class="wow pulse" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
 
             
                    </div>
                    <div class="item single-slide">
                        <div class="container ">
                            <div class="row">
                                <div class="col-lg-7  text-lg-left">
                                    <h2 class="text-white">Kalsiy va Magniy   birikmasi</h2>
                                    <p>Maxsulotlarimizni harid qilib liderga aylaning
                                        va o'z daromadingizni oshirib bo'ring! </p>
                                    <a href="" class="boxed-btn">Batafsil</a>
                                </div>
                                <div class="col-5 slider-img">
                                    <img src="assets/img/gano1.png" data-wow-duration="2s" data-wow-iteration="100" class="wow pulse" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item single-slide">
                        <div class="container ">
                            <div class="row">
                                <div class="col-lg-7  text-lg-left">
                                    <h2 class="text-white">Kalsiy va Magniy   birikmasi</h2>
                                    <p>Maxsulotlarimizni harid qilib liderga aylaning
                                        va o'z daromadingizni oshirib bo'ring! </p>
                                    <a href="" class="boxed-btn">Batafsil</a>
                                </div>
                                <div class="col-5 slider-img">
                                    <img src="assets/img/gano1.png" data-wow-duration="2s" data-wow-iteration="100" class="wow pulse" style="width: 100%;" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div> 
    <div class="wave">
        <svg viewBox="0 0 1440 120" aria-hidden="true">
            <path d="M1440,21.2101911 L1440,120 L0,120 L0,21.2101911 C120,35.0700637 240,42 360,42 C480,42 600,35.0700637 720,21.2101911 C808.32779,12.416393 874.573633,6.87702029 918.737528,4.59207306 C972.491685,1.8109458 1026.24584,0.420382166 1080,0.420382166 C1200,0.420382166 1320,7.35031847 1440,21.2101911 Z"></path>
        </svg>
    </div> 
    <ul class="circles" style="margin: 0">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li> 
        <li></li>

    </ul>
</div>
<section class="" style="position: relative; top: -90px;height: 100px;">
    <div class="container-fluid px-md-5"> 
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="wrap-header-box  "  >
                    <div class="wrap-box-tem">
                        <div class="h4 text-white">Sog'lik & E'tibor</div>
                        <p class="text-white">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                       <img src="assets/img/care.png" alt="">
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="wrap-header-box wrap-header-box-color " >
                    <div class="wrap-box-tem">
                        <div class="h4 text-white">Samarali natija</div>
                        <p class="text-white">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                       <img src="assets/img/like.png" alt=""> 
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="wrap-header-box wrap-header-box-colora  "  >
                    <div class="wrap-box-tem">
                        <div class="h4 text-white">Masofaviy  maslaxatlar</div>
                        <p class="text-white">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                       <img src="assets/img/headset.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section> 

<app-product>   </app-product>  
 
<section class="wrapper wrapp-discounts"  >
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-12 text-center">
                <div class="h4 text-dark pb-3">Aksiyalar</div>
            </div>
            <div class="col-lg-4 mb-3 ">
                <img src="assets/img/aksiya.png" class="img-fluid wow fadeInUp"   data-wow-duration="1s"  alt="">
            </div>
            <div class="col-lg-4 mb-3 ">
                <img src="assets/img/aksiya2.png" class="img-fluid wow fadeInUp"   data-wow-duration="1.3s" >
            </div>
            <div class="col-lg-4 mb-3 ">
                <img src="assets/img/aksiya3.png" class="img-fluid wow fadeInUp"   data-wow-duration="1.6s" >
            </div>
        </div>
    </div>
</section> 

 
 
    <div class="containera ">
        <section  > 
            <div class="image  " data-type="background" data-speed="2"></div>
            <div class="stuff" data-type="content" style="padding: 30px 0;">
                <div class="container-fluid px-lg-5">
                    <div class="row"> 
                        <div class="col-12 text-center">
                            <div class="h4 text-white pb-lg-4 pb-3">Yangiliklar</div>
                        </div> 
                        <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                      Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                        </div> 
                        <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                      Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                        </div> 
                        <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                        <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                      Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                        </div> 
                        <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                         <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                         </div> 
                         <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                         <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                         </div> 
                         <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                         <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                         </div> 
                         <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                         <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                         </div> 
                         <div class="col-lg-3 pr-lg-0">
                            <div class="featured-posts-grid__item no-gutters row mb-3">
                                <div class="col-lg-12">
                                    <img src="assets/img/news4.jfif" class="img-fluid w-100" alt=""> 
                                </div>
                                <div class="col-lg-12  ">
                                    <div class="card-body">
                                        <h2 class="entry__title ">
                                            <a href="#"  >3 Founders With Booming Businesses Share Stories About Their Difficult Early</a>
                                        </h2>
                                         <ul class="entry__meta">
                                            <li class="entry__meta-author">
                                                <span>by</span>
                                                <a href="#" class="px-2">DeoThemes</a>
                                            </li>
                                            <li class="entry__meta-date">
                                                Mar 21, 2020
                                            </li>              
                                        </ul>
                                    </div>
                                </div> 
                            </div> 
                         </div> 
                    </div>
                </div>
              </div>
        </section> 
    </div>  
 
<!-- <section class="  wrap-news" style="background: url(assets/img/bgnews3.jpg);background-repeat: no-repeat;width: 100%;height:auto;background-size: cover;">
    <div class="wrapper" style="background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5) ,rgba(0,0,0,0.4));">
        <div class="container-fluid px-lg-5">
            <div class="col-12 text-center">
                <div class="h4 text-white pb-3">Yangiliklar</div>
            </div>
            <div   class="row  ">
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white" >
                        <img class="group list-group-image img-fluid" src=" assets/img/news-2.jpg" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-3.png" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-5.png" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-6.jfif" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-1.png" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-4.png" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-7.jpg" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="item  col-xs-4 col-lg-3">
                    <div class="thumbnail bg-white">
                        <img class="group list-group-image img-fluid" src=" assets/img/news-2.jpg" alt="" />
                        <div class="caption">
                            <h5 class="group inner list-group-item-heading"> News news lorem ipsum</h5>
                            <p class="group inner list-group-item-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <span>
                                        <img src="assets/img/calendar.png" alt="">
                                        <span class="px-2">27.02.2020</span>
                                    </span>
                                    <span>
                                        <img src="assets/img/calendar.png"   alt="">
                                        <span  class="px-2">17:07</span>
                                    </span>
                                    <span class="float-right">
                                    <a class="news-link "   href="#">Batafsil</a>
                                    </span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
 
</section>  -->
<section class="wrapper">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-12"> 
                <div class="h4 text-dark  text-center pb-3">O'ZINGIZGA YAQIN DO'KONNI TANLANG</div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191885.50264793713!2d69.13927964096675!3d41.28251254229556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2z0KLQsNGI0LrQtdC90YIsINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1582950819619!5m2!1sru!2s" 
                width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div> 
        </div>
    </div>
</section>


<section class="comments wrapper">
    <div class="container-fluid px-lg-5">
        <div class="row">
            <div class="col-md-12">
                <div class="h4 text-dark  text-center pb-3">Mijozlar fikri</div>
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial jumbatron">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div> 
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>

                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>
                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">John</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">Kelle</h3>
                            <span class="post">Web Designer</span>
                        </div>
 
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">Steven</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>

                    <div class="testimonial">
                        <div class="testimonial-content">
                            <div class="testimonial-icon">
                                <i class="fa fa-quote-left"></i>
                            </div>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum dolor sit amet eros imperdiet, sit amet hendrerit nisi vehicula.
                            </p>
                            <h3 class="title">Peter</h3>
                            <span class="post">Web Developer</span>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
 
<section class="wrapper wrapp-contact   b-0">
<div class="container-fluid px-lg-5">
    <div class="row flex-lg-row-reverse">
        <div class="col-12 col-lg-5 pb-3 mb-lg-0 pt-0 pt-lg-3">
            <img src="assets/img/form.png" class="img-fluid" alt="">
        </div>
        <div class="  col-12 col-lg-7 text-center">
            <div class="h4 text-dark pb-3">ONLAYN OPERATORDAN 
                MASLAXAT OLISH</div>
                <form action=" " method=" ">              
                    <div class="row row10">
                      <div class="col-12 col-md-6">
                         <div class="group">
                            <input type="text" name="name" placeholder="Ism*" required="">
                         </div>
                      </div>
                      <div class="col-12 col-md-6">
                         <div class="group">
                            <input type="text" name="phone" placeholder="Telefon*" required="">
                         </div>
                      </div>
                      <div class="col-12">
                         <div class="group">
                            <textarea name="message" rows="5" placeholder="Matnni kiritung" required=""></textarea>
                         </div>
                      </div>
                      <div class="col-12">
                         <div class="group text-center">
                            <button type="submit" class="myBtn default br ">Xabarni yuborish <i class="fa fa-telegram"></i></button>
                         </div>
                      </div>
                   </div>
                   </form>
        </div> 
    </div>
</div>
</section>

 