<section class="wrapper wrap-product">
    <div class="container ">
        <!-- <div class="row">
            <div class="col-12 product-tabs text-center pb-3">
                <a routerLink = '/all-product' class="h6  nav-link active-link">So'ngi qo'shilganlar</a> 
                <a routerLink = 'top' class="h6 nav-link  ">Top maxsulotlar</a>
                <a routerLink = 'many' class="h6 nav-link  ">Ko'p sotilganlar</a>
                <a routerLink = 'popular'  class="h6 nav-link ">Ommabop maxsulotlar</a>
            </div>
        </div> -->
        <ul class="text-center pb-3">
            <li class="nav-link active-link d-inline-block p-0">
                <a routerLink = '/all-product' class="h6  nav-link active-link">So'ngi qo'shilganlar</a> 
            </li>
            <li class="nav-link d-inline-block p-0">
                <a routerLink = 'top' class="h6 nav-link  ">Top maxsulotlar</a>
            </li>
            <li class="nav-link d-inline-block p-0">
                <a routerLink = 'many' class="h6 nav-link  ">Ko'p sotilganlar</a>
            </li>
            <li class="nav-link d-inline-block p-0">
                <a routerLink = 'popular'  class="h6 nav-link ">Ommabop maxsulotlar</a>
            </li>
        </ul>
        <router-outlet></router-outlet>



    </div>
</section> 

 