 
   
   
  <header>
    <div class="container">
      <div class="logo">
        <img src="assets/img/logo.png" alt="">
      </div>
      <div class="header-phone">
        <div>Telefon</div>
        <div class="h6">+998 (71) 258-36-69</div>
        <span><img src="assets/img/phone.png" alt=""></span>
      </div>
      <div class=" header-fix"  >
        <div class="" style="position: relative;">
          <form class="search-container" action="//llamaswill.tumblr.com/search" style="display: inline-block;">
            <input id="search-box" type="text" class="search-box  "   name="q" />
            <label for="search-box" class="search-lable"><span class="glyphicon glyphicon-search fa fa-search "></span></label>
            <input type="submit" id="search-submit" />
          </form>
  
          <a href="#"><span>UZ</span></a>
        </div>
 
 
      </div>
      <ul class="navbar">
        <li> 
            <a routerLink="/">Asosiy</a>
        </li>
        <li>
          <a routerLink="/all-product">Mahsulotlar</a>
      </li>
      <li>
        <a routerLink="/department-stores">Hududiy do'konlar</a>
    </li>
    <li>
      <a routerLink="/news">Yangiliklar</a>
    </li>
    <li>
      <a routerLink="/gallery">Galleriya</a>
    </li>
    <li>
      <a routerLink="/contact">Bog'lanish</a>
    </li>
      </ul>
    </div>
 
</header>
<!-- navbar mobile-->
<div class="burger">
    <span></span>
  </div>
  
  <nav class="mobile-navbar">
      <ul class="main">
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>
          <li><a href="">Home</a></li>

      </ul> 
    <div class="about">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
    </div>
  </nav>
 
   
  <router-outlet></router-outlet>
  <app-footer></app-footer>
   