<section class="wrapper pb-0 department">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <h4>Contact</h4>
                <p>Hududiy do'konlarimizni aniqlash uchun sizdan quyidagi formani to'ldirish talab etiladi.</p>
            </div> 
        </div>
 
       <div class="row mb-3">
           <div class="col-lg-3 col-sm-6 mb-3">
               <div class="department-contact">
                   <div class="img-container">
                       <div class="map-pointer-shadow"></div>
                       <svg version="1.1" class="map-pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 365 560" enable-background="new 0 0 365 560" xml:space="preserve">
                         <g>
                          <path fill="#000" class="thing" d="M182.9,551.7c0,0.1,0.2,0.3,0.2,0.3S358.3,283,358.3,194.6c0-130.1-88.8-186.7-175.4-186.9
                          C96.3,7.9,7.5,64.5,7.5,194.6c0,88.4,175.3,357.4,175.3,357.4S182.9,551.7,182.9,551.7z M122.2,187.2c0-33.6,27.2-60.8,60.8-60.8
                          c33.6,0,60.8,27.2,60.8,60.8S216.5,248,182.9,248C149.4,248,122.2,220.8,122.2,187.2z"/>
                        </g>
                      </svg>  
                  </div> 
                   <h4 class="text-white">Manzil</h4>
                   <p>Toshkent sh Chilonzor t</p>
               </div>
           </div> 
           <div class="col-lg-3 col-sm-6 mb-3">
               <div class="department-contact">
                   <div class="img-container">
                       <div class="map-pointer-shadow"></div>
                       <svg version="1.1" class="map-pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 365 560" enable-background="new 0 0 365 560" xml:space="preserve">
                         <g>
                          <path fill="#000" class="thing" d="M182.9,551.7c0,0.1,0.2,0.3,0.2,0.3S358.3,283,358.3,194.6c0-130.1-88.8-186.7-175.4-186.9
                          C96.3,7.9,7.5,64.5,7.5,194.6c0,88.4,175.3,357.4,175.3,357.4S182.9,551.7,182.9,551.7z M122.2,187.2c0-33.6,27.2-60.8,60.8-60.8
                          c33.6,0,60.8,27.2,60.8,60.8S216.5,248,182.9,248C149.4,248,122.2,220.8,122.2,187.2z"/>
                        </g>
                      </svg>  
                  </div> 
                   <h4 class="text-white">Telefon</h4>
                   <p>+998 (71) 200 00 00</p>
               </div>
           </div>
           <div class="col-lg-3 col-sm-6 mb-3">
               <div class="department-contact">
                   <div class="img-container">
                       <div class="map-pointer-shadow"></div>
                       <svg version="1.1" class="map-pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 365 560" enable-background="new 0 0 365 560" xml:space="preserve">
                         <g>
                          <path fill="#000" class="thing" d="M182.9,551.7c0,0.1,0.2,0.3,0.2,0.3S358.3,283,358.3,194.6c0-130.1-88.8-186.7-175.4-186.9
                          C96.3,7.9,7.5,64.5,7.5,194.6c0,88.4,175.3,357.4,175.3,357.4S182.9,551.7,182.9,551.7z M122.2,187.2c0-33.6,27.2-60.8,60.8-60.8
                          c33.6,0,60.8,27.2,60.8,60.8S216.5,248,182.9,248C149.4,248,122.2,220.8,122.2,187.2z"/>
                        </g>
                      </svg>  
                  </div> 
                   <h4 class="text-white">E-pochta</h4>
                   <p>progresskey@gmail.com</p>
               </div>
           </div>
           <div class="col-lg-3 col-sm-6 mb-3">
               <div class="department-contact">
                   <div class="img-container">
                       <div class="map-pointer-shadow"></div>
                       <svg version="1.1" class="map-pointer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 365 560" enable-background="new 0 0 365 560" xml:space="preserve">
                         <g>
                          <path fill="#000" class="thing" d="M182.9,551.7c0,0.1,0.2,0.3,0.2,0.3S358.3,283,358.3,194.6c0-130.1-88.8-186.7-175.4-186.9
                          C96.3,7.9,7.5,64.5,7.5,194.6c0,88.4,175.3,357.4,175.3,357.4S182.9,551.7,182.9,551.7z M122.2,187.2c0-33.6,27.2-60.8,60.8-60.8
                          c33.6,0,60.8,27.2,60.8,60.8S216.5,248,182.9,248C149.4,248,122.2,220.8,122.2,187.2z"/>
                        </g>
                      </svg>  
                  </div> 
                   <h4 class="text-white">Sayt</h4>
                   <p>www.progresskey.uz</p>
               </div>
           </div>

       </div>   
   </div>
   <section class="  wrapp-contact   b-0">
    <div class="container-fluid px-lg-5">
        <div class="row flex-lg-row-reverse">
            <div class="col-12 col-lg-5 pb-3 mb-lg-0 pt-0 pt-lg-3">
                <img src="assets/img/form.png" class="img-fluid" alt="">
            </div>
            <div class="  col-12 col-lg-7 text-center"> 
                    <form action=" " method=" " class="pt-4">              
                        <div class="row row10">
                          <div class="col-12 col-md-6">
                             <div class="group">
                                <input type="text" name="name" placeholder="Ism*" required="">
                             </div>
                          </div>
                          <div class="col-12 col-md-6">
                             <div class="group">
                                <input type="text" name="phone" placeholder="Telefon*" required="">
                             </div>
                          </div>
                          <div class="col-12">
                             <div class="group">
                                <textarea name="message" rows="5" placeholder="Matnni kiritung" required=""></textarea>
                             </div>
                          </div>
                          <div class="col-12">
                             <div class="group text-center">
                                <button type="submit" class="myBtn default br ">Xabarni yuborish <i class="fa fa-telegram"></i></button>
                             </div>
                          </div>
                       </div>
                    </form>
            </div> 
        </div>
    </div>
    </section>
<div class="container-fluid px-lg-5 mb-4">
   <div class="row">
       <div class="col-12 text-center">
           <h4 class="mb-3">Toshkent shahri</h4>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d191885.50264793713!2d69.13927964096675!3d41.28251254229556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b0cc379e9c3%3A0xa5a9323b4aa5cb98!2z0KLQsNGI0LrQtdC90YIsINCj0LfQsdC10LrQuNGB0YLQsNC9!5e0!3m2!1sru!2s!4v1582950819619!5m2!1sru!2s" 
               width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
       </div> 
   </div>
</div>
 
   

</section>